@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


*{
    width: 100%;
    margin: 0 auto;
}


.habbit {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
    margin: 20px auto;
}

.habbit-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 14px;
}

.habbit-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.habbit-text p {
    width: 60%;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.habbit-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
    gap: 40px;
    width: 100%;
}

.img-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.img-con img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.10);
}

.img-con h3 {
    font-size: 18px;
    font-weight: 600;
}

.img-con p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .habbit-text h1 {
        font-size: 36px;
    }

    .habbit-text p {
        font-size: 12px;
        width: 80%;
    }

    .img-con h3 {
        font-size: 16px;
    }

    .img-con p {
        font-size: 12px;
    }
}